/*-----------------------------------
                footer
  ------------------------------------*/
footer {
  border-top: $light-gray 8px solid;
  width: 90%;
  margin: 10px auto;

  p {
    margin-top: 1rem;
    font-size: $font-size-xxs;
    text-align: center;
  }
}
section.social-media-icon {
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  img {
    display: block;
    height: 30px;
  }
}
form {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}
input {
  display: block;
  border: 1px solid $light-gray;
  border-radius: 5px;
  height: 33px;
  width: 90%;
  margin: auto;
}
button[type="submit"] {
  display: block;
  border-radius: 5px;
  border: 1px solid #ffcc99;
  background-color: #ffcc99;
  color: white;
  font-size: $font-size-s;
  height: 35px;
  width: 91%;
  margin: auto;
  margin-top: 0.5rem;
  cursor: pointer;
}
@media (min-width: 700px) and (max-width: 950px) {
  footer {
    p {
      margin-top: 1rem;
      line-height: $font-size-xxs;
    }
  }
  section.social-media-icon {
    width: 100%;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    img {
      display: block;
      height: 18px;
    }
  }
  input {
    height: 25px;
    width: 99%;
  }
  button[type="submit"] {
    height: 25px;
    width: 100%;
  }
}
@media (max-width: 700px) {
  footer {
    width: 70%;
  }
  section.social-media-icon {
    width: 70%;
  }

  input {
    display: block;
    border: 1px solid $light-gray;
    border-radius: 5px;
    height: 30px;
    width: 70%;
    margin: auto;
  }
  button[type="submit"] {
    font-size: $font-size-s;
    height: 33px;
    width: 71%;
  }
}
