/* ----------------------------------------------------------
                          Global header
  -------------------------------------------------------------*/

.global-nav {
  text-transform: uppercase;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 7px;
  border-bottom: $light-gray 8px solid;
}
@media (max-width: 650px) {
  .global-nav {
    text-transform: uppercase;
    margin-top: 20px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
    padding-bottom: 7px;
    border-bottom: $light-gray 8px solid;
  }
}
.global-header a {
  text-decoration: none;
  font-weight: 600;
}
body.intro a.intro,
body.cascading a.cascading,
body.box a.box,
body.layout a.layout,
body.animation a.animation {
  color: black;
  font-weight: 700;
}
