/*-----------------------------------
         Typography
------------------------------------*/
body {
  font-family: $body;
  font-size: $font-size-body;
  color: $body-text;
}
h1,
h2,
h3 {
  font-family: $headings;
}
h1 {
  font-size: $font-size-h1;
  text-transform: uppercase;
  font-weight: 700;
}
h2 {
  font-size: $font-size-h2;
  font-weight: 600;
}
h3 {
  font-size: $font-size-h3;
  font-style: italic;
  font-weight: 400;
}

/* ----------------------------------------------------------
                          Theme
  -------------------------------------------------------------*/
a:link {
  color: $link;
}
a:visited {
  color: $link;
}
a:hover {
  color: $hover-link;
}
a:focus {
  outline: none;
  background: #ddd;
}

/* ----------------------------------------------------------
                          Global header
  -------------------------------------------------------------*/
.global-header {
  padding-top: 40px;
  position: relative;
}
.global-nav {
  text-transform: uppercase;
  position: absolute;
  top: 40px;
  right: 55px;
}
.global-nav a {
  padding: 12px;
}
/*-----------------------------------
                  Sidebar
  ------------------------------------*/
.css3-logo {
  margin-top: 40px;
  width: 108px;
  height: 146px;
}
