/*-----------------------------------
         Variables & Mixins
------------------------------------*/

/* Colors */
$dark-blue: #0066cc;
$light-blue: #66ccff;
$dark-gray: #333333;
$light-gray: #cccccc;

$link: $dark-blue;
$hover-link: $light-blue;
$body-text: $dark-gray;

/* Font sizing */
$font-size-body: 18px;
$font-size-h3: 26px;
$font-size-h2: 36px;
$font-size-h1: 48px;
$font-size-s: 14px;
$font-size-xs: 12px;

/* Typeface */
$raleway: "Raleway", Arial, Helvetica, sans-serif;
$arial: Arial, Helvetica, sans-serif;

$body: $raleway;
$headings: $arial;
