/*-----------------------------------
         Variables & Mixins
------------------------------------*/

/* Colors */
$dark-blue: #0170ba;
$light-blue: #29a9df;
$dark-gray: #333333;
$light-gray: #cccccc;

$link: $dark-blue;
$hover-link: $light-blue;
$body-text: $dark-gray;

/* Font sizing */
$font-size-body: 16px;
$font-size-h3: 24px;
$font-size-h2: 32px;
$font-size-h1: 44px;
$font-size-m: 20px;
$font-size-s: 14px;
$font-size-xs: 12px;

/* Typeface */
$raleway: "Raleway", Arial, Helvetica, sans-serif;
$arial: Arial, Helvetica, sans-serif;

$body: $raleway;
$headings: $arial;
