/*-----------------------------------
                  Sidebar
  ------------------------------------*/
@media (min-width: 650px) {
  aside {
    font-size: $font-size-m;
    font-weight: 500;
    div {
      position: sticky;
      top: 40px;
    }
  }
  .css3-logo {
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 108px;
    height: 146px;
    @media (min-width: 650px) and (max-width: 950px) {
      height: 92px;
      width: auto;
    }
  }
  nav#navbar {
    margin-top: 40px;

    header {
      background-color: $dark-blue;
      width: 70%;
      margin: auto;
      text-align: center;
      a {
        color: white;
      }

      font-weight: 700;
    }
  }

  section.nav-menu {
    //background-color: bisque;
    color: $dark-blue;
    width: 70%;
    margin: auto;
    margin-top: 20px;
    ul {
      padding-inline-start: 0px;
    }
    li {
      line-height: 2em;
      @media (min-width: 650px) and (max-width: 900px) {
        line-height: 1.5em;
      }
      font-size: $font-size-body;
      list-style: none;
      padding-inline-start: 30px;
    }
    li.nav-h2 {
      padding-inline-start: 0px;
    }
    @media (min-width: 650px) and (max-width: 950px) {
      padding-bottom: 20px;
    }
  }
}
//@media (min-width: 650px) and (max-width: 950px) {
//}
@media (max-width: 650px) {
  nav#navbar {
    display: none;
  }
  .css3-logo {
    height: 92px;
    width: auto;
    display: block;
    margin: 20px 10px 0 0;
  }
}
