/*-----------------------------------
                  Sidebar
  ------------------------------------*/

aside {
  font-size: $font-size-s;
  font-weight: 500;
  div {
    position: sticky;
    top: 40px;
  }
}
.css3-logo {
  display: block;
  width: 108px;
  height: 146px;
  margin: auto;
  margin-top: 41px;
}
nav#navbar {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 40px auto;

  header {
    background-color: $dark-blue;
    text-align: center;
    margin-bottom: 1rem;
    padding: 10px 0;
    a {
      color: white;
      font-size: 22px;
      font-weight: 500;
    }
  }
  a {
    margin-bottom: 0.5rem;
  }
}
.fixed-sidebar {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: 700px) and (max-width: 950px) {
  nav#navbar {
    width: 90%;
    margin: 20px auto;
    header {
      padding: 2px 0;
    }
  }
  .css3-logo {
    height: 92px;
    width: auto;
  }
}

@media (max-width: 700px) {
  .css3-logo {
    display: none;
  }
  nav#navbar {
    display: none;
  }
  .fixed-sidebar {
    height: auto;
  }
}
