/*-----------------------
       Main Stylesheet
------------------------*/
/*-----------------------------------
           Layout & Grid
  ------------------------------------*/
@media (min-width: 950px) {
  #body-grid-container {
    max-width: 1000px;
    height: 100%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 5% auto;
        grid-template-columns: 25% 5% auto;
    -ms-grid-rows: 10%, 80%, 10%;
        grid-template-rows: 10%, 80%, 10%;
  }
  .global-header {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  main {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 2;
    grid-row: 2/4;
  }
  aside {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
  footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media (min-width: 650px) and (max-width: 950px) {
  #body-grid-container {
    max-width: 700px;
    height: 100%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 75%, auto;
        grid-template-columns: 75%, auto;
    -ms-grid-rows: 10%, 80%, 10%;
        grid-template-rows: 10%, 80%, 10%;
  }
  .global-header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  main {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  aside {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

@media (max-width: 650px) {
  #body-grid-container {
    min-width: 550px;
    height: 100%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 90%, auto;
        grid-template-columns: 90%, auto;
    -ms-grid-rows: 20%, 70%, 10%;
        grid-template-rows: 20%, 70%, 10%;
  }
  .global-header {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  main {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  aside {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  footer {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
}

/*-----------------------------------
         Variables & Mixins
------------------------------------*/
/* Colors */
/* Font sizing */
/* Typeface */
/*-----------------------------------
         Typography
------------------------------------*/
body {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #333333;
}

h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 44px;
  text-transform: uppercase;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 24px;
  font-style: italic;
  font-weight: 500;
}

/* ----------------------------------------------------------
                          Theme
  -------------------------------------------------------------*/
a:link {
  text-decoration: none;
  color: #0170ba;
}

a:visited {
  color: #0170ba;
}

a:hover {
  color: #29a9df;
}

a:focus {
  outline: none;
  color: #29a9df;
  /*background: #cccccc;*/
}

/*-----------------------------------
                  Main
  ------------------------------------*/
main {
  border: #0170ba 8px solid;
  margin-top: 40px;
  margin-bottom: 40px;
}

main div {
  width: 85%;
  margin: 0 6% 40px 9%;
}

.separator {
  height: 30px;
  width: 60%;
  margin-left: 40%;
  border-bottom: #0170ba 2px solid;
}

p {
  -webkit-margin-before: 0px;
          margin-block-start: 0px;
  -webkit-margin-after: 15px;
          margin-block-end: 15px;
  line-height: 1.4em;
}

h1 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  text-align: right;
  margin-bottom: 0.3em;
}

h2 {
  margin-bottom: 0.2em;
}

h3 {
  margin-bottom: 0.1em;
}

h1,
h2,
h3 {
  -webkit-margin-before: 30px;
          margin-block-start: 30px;
}

p.intro-text {
  text-align: justify;
  font-size: 20px;
}

div.code {
  font-size: 12px;
  width: 100%;
  margin-top: 10px;
  margin-left: 0;
  padding: 10px 0;
  color: white;
  background-color: #333333;
}

code {
  padding-left: 20px;
}

/* ----------------------------------------------------------
                          Global header
  -------------------------------------------------------------*/
.global-nav {
  text-transform: uppercase;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 7px;
  border-bottom: #cccccc 8px solid;
}

@media (max-width: 650px) {
  .global-nav {
    text-transform: uppercase;
    margin-top: 20px;
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 7px;
    border-bottom: #cccccc 8px solid;
  }
}

.global-header a {
  text-decoration: none;
  font-weight: 600;
}

body.intro a.intro,
body.cascading a.cascading,
body.box a.box,
body.layout a.layout,
body.animation a.animation {
  color: black;
  font-weight: 700;
}

/*-----------------------------------
                  Sidebar
  ------------------------------------*/
@media (min-width: 650px) {
  aside {
    font-size: 20px;
    font-weight: 500;
  }
  aside div {
    position: -webkit-sticky;
    position: sticky;
    top: 40px;
  }
  .css3-logo {
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 108px;
    height: 146px;
  }
}

@media (min-width: 650px) and (min-width: 650px) and (max-width: 950px) {
  .css3-logo {
    height: 92px;
    width: auto;
  }
}

@media (min-width: 650px) {
  nav#navbar {
    margin-top: 40px;
  }
  nav#navbar header {
    background-color: #0170ba;
    width: 70%;
    margin: auto;
    text-align: center;
    font-weight: 700;
  }
  nav#navbar header a {
    color: white;
  }
  section.nav-menu {
    color: #0170ba;
    width: 70%;
    margin: auto;
    margin-top: 20px;
  }
  section.nav-menu ul {
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }
  section.nav-menu li {
    line-height: 2em;
    font-size: 16px;
    list-style: none;
    -webkit-padding-start: 30px;
            padding-inline-start: 30px;
  }
}

@media (min-width: 650px) and (min-width: 650px) and (max-width: 900px) {
  section.nav-menu li {
    line-height: 1.5em;
  }
}

@media (min-width: 650px) {
  section.nav-menu li.nav-h2 {
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }
}

@media (min-width: 650px) and (min-width: 650px) and (max-width: 950px) {
  section.nav-menu {
    padding-bottom: 20px;
  }
}

@media (max-width: 650px) {
  nav#navbar {
    display: none;
  }
  .css3-logo {
    height: 92px;
    width: auto;
    display: block;
    margin: 20px 10px 0 0;
  }
}

/*-----------------------------------
                footer
  ------------------------------------*/
footer {
  border-top: #cccccc 8px solid;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

@media (min-width: 650px) and (max-width: 900px) {
  footer {
    margin-top: 0;
  }
}

footer p {
  margin-top: 40px;
  font-size: 12px;
  text-align: center;
  margin-bottom: 40px;
}

section.social-media-logo {
  width: 90%;
  margin: auto;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 900px) {
  section.social-media-logo {
    width: 50%;
  }
}

section.social-media-logo div.logo-space {
  width: 40%;
}

section.social-media-logo img {
  display: block;
  height: 30px;
}

div.subscribe-button {
  margin-top: 40px;
  height: 30px;
}

@media (max-width: 900px) {
  div.subscribe-button {
    width: 50%;
    margin: auto;
    margin-top: 40px;
  }
}

input#subscribe {
  border: 1px solid #cccccc;
  border-radius: 7px;
  height: 22px;
  width: 60%;
}

.subscribe {
  border: 1px solid #ffcc99;
  border-radius: 7px;
  background-color: #ffcc99;
  color: white;
  font-size: 14px;
  height: 33px;
  width: 35%;
  -webkit-padding-start: 2.7px;
          padding-inline-start: 2.7px;
}
/*# sourceMappingURL=styles.css.map */